.pricing-box-top{
	position: relative;
	height: 36px;
	overflow: hidden;
	background-color: #fff;
	&::before{
		background-color: $primary-color;
		content: "";
		display: block;
		position: absolute;
		left: -10%;
		bottom: 10%;
		right: -10%;
		height: 150px;
		border-radius: 100%;
		@include breakpoint(phone) {
			left: -100%;
			right: -100%;
		}
	}
}
.pricing-wrap{
	
	.princing-box{
		position: relative;
		overflow: hidden;
		padding: 45px;
		background-color: #fff;
		.button{
			width: 100%;
			text-align: center;
		}
	}
	
	.price{
		font-weight: bold;
		font-size: 2.188em;
		color: $title-color;

	}
	ul{
		list-style: none;
		padding: 0;
		margin-bottom: 50px;
		li{
			padding-left: 18px;
			position: relative;
			margin-bottom: 15px;
			&:before{
				content: "\f0a9";
				font-family: FontAwesome;
				position: absolute;
				left: 0;
				color: $secondary-color;
			}
		}
	}
}
.pricing-wrap{
	&.txt-default{
		.price{
			color: $title-color;
		}
	}
	&.bullet-white{
		ul li:before{
			color: #fff;
		}
	}
	&.bullet-gray{
		ul li:before{
			color: $light-gray;
		}
	}
	&.bullet-black{
		ul li:before{
			color: #000;
		}
	}
	&.bullet-primary{
		ul li:before{
			color: $primary-color;
		}
	}
	&.bullet-secondary{
		ul li:before{
			color: $secondary-color;
		}
	}
	&.bullet-primarydark{
		ul li:before{
			color: $primary-dark;
		}
	}
}