@import '../frontend/normalize';
@import 'variables';
@import 'parts/header';
@import 'layout/forms';
body{
	background: linear-gradient(to right, darken($bg-color, 5) 0%, $bg-color 100%);
	color: $content-color;
}
html,
body{
		height: 100%;
}

a{
	color: $primary-color;
}

main{
	margin-right: 20px;
}


.btn .material-icons{
	margin-left: -0.5em;
}


.title-section{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 30px;
	*{
		margin: 0;
	}
}