@import '../frontend/normalize';
@import 'variables';
@import 'parts/header';

body{
	background: linear-gradient(to right, darken($bg-color, 5) 0%, $bg-color 100%);
	color: $content-color;
}
html,
body{
		height: 100%;
}

a{
	color: $primary-color;
}
