.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle
}

.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr;
    &[type=file]{
    	z-index: 2;
	}
}

.fileinput {
    display: inline-block;
    margin-bottom: 9px
}

.fileinput .form-control {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text
}

.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    max-width: 250px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, .42), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.fileinput .thumbnail.img-circle {
    border-radius: 50%;
    max-width: 100px
}

.fileinput .thumbnail>img {
    max-height: 100%;
    width: 100%
}

.fileinput .btn {
    vertical-align: middle
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
    display: none
}

.fileinput-inline .fileinput-controls {
    display: inline
}

.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}

.form-control .fileinput-filename {
    vertical-align: bottom
}

.fileinput.input-group {
    display: table
}

.fileinput.input-group>* {
    position: relative;
    z-index: 2
}

.fileinput.input-group>.btn-file {
    z-index: 1
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
    border-radius: 0 4px 4px 0
}

.fileinput-new.input-group .btn-file.btn-sm,
.fileinput-new .input-group .btn-file.btn-sm,
.fileinput-new.input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new.input-group .btn-group-sm>.btn-file.btn,
.fileinput-new .input-group .btn-group-sm>.btn-file.btn {
    border-radius: 0 3px 3px 0
}

.fileinput-new.input-group .btn-file.btn-lg,
.fileinput-new .input-group .btn-file.btn-lg,
.fileinput-new.input-group .btn-group-lg>.btn-file.btn,
.fileinput-new .input-group .btn-group-lg>.btn-file.btn {
    border-radius: 0 6px 6px 0
}

.form-group.has-warning .fileinput .fileinput-preview {
    color: #ff9800
}

.form-group.has-warning .fileinput .thumbnail {
    border-color: #ff9800
}

.form-group.has-error .fileinput .fileinput-preview {
    color: #f44336
}

.form-group.has-error .fileinput .thumbnail {
    border-color: #f44336
}

.form-group.has-success .fileinput .fileinput-preview {
    color: #4caf50
}

.form-group.has-success .fileinput .thumbnail {
    border-color: #4caf50
}

.input-group-addon:not(:first-child) {
    border-left: 0
}

.thumbnail {
    border: 0 none;
    border-radius: 4px;
    padding: 0
}



::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}




.form-control-file,
.form-control-range {
    display: block;
    width: 100%
}

.custom-file-input.is-valid~.custom-file-label,
.was-validated .custom-file-input:valid~.custom-file-label {
    border-color: #4caf50
}

.custom-file-input.is-valid~.custom-file-label:before,
.was-validated .custom-file-input:valid~.custom-file-label:before {
    border-color: inherit
}

.custom-file-input.is-valid~.valid-feedback,
.custom-file-input.is-valid~.valid-tooltip,
.was-validated .custom-file-input:valid~.valid-feedback,
.was-validated .custom-file-input:valid~.valid-tooltip {
    display: block
}

.custom-file-input.is-valid:focus~.custom-file-label,
.was-validated .custom-file-input:valid:focus~.custom-file-label {
    box-shadow: 0 0 0 .2rem rgba(76, 175, 80, .25)
}


.custom-file-input.is-invalid~.custom-file-label,
.was-validated .custom-file-input:invalid~.custom-file-label {
    border-color: #f44336
}
