form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.field{
		width: 48%;
		margin-bottom: 15px;
	}
	.field-group{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	input, select, textarea{
		width: 100%;
		padding: 3px;
	}
	
	input{
		background-color: rgba(204, 204, 204, 0.5);
		border: 0px;
	}
	input[type="submit"]{
		width: 120px;
		text-align: center;
	}

}