form{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.field{
		width: 48%;
		margin-bottom: 15px;
	}
	.field-group{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

}