.blog-intro{

	margin-bottom: 100px;
	h2{
		font-size: 1.375em;
		color: $primary-color;
	}
	.searchform{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
	}
}
.articles-list{

	article{
		margin-bottom: 60px;
		@include breakpoint(phone) {
			position: relative;
			margin-bottom: 0;
			padding-bottom: 20px;
			padding-top: 20px;

			&+article{
				border-top: 1px solid #efefef;
			}
		}
		
		figure{
			float: left;
			padding: 0;
			width: 300px;
			margin: 0 30px 0 0;
			@include breakpoint(phone) {
				width: 100px;
			}
		}
		.article-excerpt{
			float: left;
			width: calc(100% - 330px);
			@include breakpoint(phone) {
				width: calc(100% - 130px);
			}
			p{
				line-height: 2.2em;
				@include breakpoint(phone) {
					display: none;
				}
			}
		}
		h4{
			margin-top: 0;
			color: $primary-color;
			@include breakpoint(phone) {
				margin-bottom: 0px;
				@include verticalcenter();
			}
		}
		.article-footer{
			margin-top: 30px;
			@include breakpoint(phone) {
				display: none;
			}
		}
		.article-buttons{
			float: left;
		}
		.social-like{
			float: right;
			@include breakpoint(sm-only) {
				display: none;
			}
		}
		.button{
			margin-right: 25px;
		}
		.comments_number{
			color: $primary-color;
			white-space: nowrap;
			display: inline-block;
			margin-top: 10px;
		}
		
		

	}
}

.social-like{
	margin-top: 40px;
	.btn-social + .btn-social{
		margin-left: 10px;
	}
}
.btn-social{
	display: inline-block;
	padding: 10px 16px 10px 13px;
	color: #fff;
	&::before{
		font-family: FontAwesome;
		display: inline-block;
		margin-right: 13px;
	}
	&.fb-like{
		background-color: #4267b2;
		&::before{
			content:"\f09a";
		}
	}
	&.tweet{
		background-color: #1b95e0;
		&::before{
			content: "\f099";
		}
	}
}
.page-numbers{
	margin: 0;
	padding: 0;
	padding-top: 50px;	
	text-align: center;
	li{
		margin-right: 0px;
		&+li{
			margin-left: 29px;
		}
		color: $primary-color;
		font-weight: bold;
		font-size: 1.500em;
		a{
			color: #000;
		}
		i{
			color: $primary-color;
		}
	}
}

@include breakpoint(phone) {
.blog-intro{

	.searchform{
		position: static;
		top: initial;
		transform: translateY(0%);
		right: initial;
		display: inline-block;
	}
}
}