.single{

}
.article-header-meta{
	text-align: right;
	span,
	.social-like{
		display: inline-block;
	}
}
.zk-box-highlight{
	background-color: $primary-color;
	padding: 70px 30px;
	font-size: 1.625em;
	text-align: center;
	color: #fff;
}
.article-content{
	h3{
		font-size: 1.375em;
	}
	blockquote{
		font-size: 1.438em;
		color: $primary-color;
		padding: 0;
		margin: 0;
		font-style: italic;
		p{
			line-height: 1.565em;
		}
	}
	
}
.author-block{
	margin-top: 90px;
	padding-bottom: 40px;
	border-bottom: 1px solid #e5e4e4;
	h4{
		padding-bottom: 35px;
		margin-bottom: 30px;
		border-bottom: 1px solid #e5e4e4;
	}
	figure{
		width: 140px;
		float: left;

		figcaption{
			margin-top: 20px;
			a{
				color: #000;
				&:hover{
					color: $primary-color;
				}
			}
		}
	}
	.author-info{
		width: calc(100% - 140px);
		float: left;
		p:first-child{
			margin-top: 4px;
		}
	}
}

.comments-area {
	ol{
		margin: 0;
		list-style: none;
		padding: 0;
		& > li ol{
			padding-left: 55px;
			@include breakpoint(phone) {
				padding-left: 20px;
			}
			
		}
		.comment {
			figure{
				width: 140px;
				float: left;
				@include breakpoint(phone) {
					float: none
				}
				figcaption{
					margin-top: 20px;
					cite{
						font-style: normal;				
					}
					a{
						color: #000;
						&:hover{
							color: $primary-color;
						}
					}
				}
			}
			.comment-content{
				width: calc(100% - 140px);
				float: left;
				padding-bottom: 50px;
				margin-bottom: 50px;
				border-bottom: 1px solid #e5e4e4;
				@include breakpoint(phone) {
					float: none;
					width: 100%;
				}
				p:first-child{
					margin-top: 4px;
				}
			}
			
		}
	}
	.comment-form-comment label{
		display: none;
	}
	.comment-form{
		textarea{
			padding: 30px;
			width: 100%;
		}
		input[type=text]{
			padding: 20px 30px ;
			width: 100%;
		}
		p{
			float: left;
			width: calc(50% - 15px);
		}
		p.comment-form-author{
			margin-right: 30px;
		}
		p.comment-form-comment,
		p.comment-notes,
		p.form-submit{
			width: 100%;
			display: block;
			float: none;
		}
		p.form-submit{
			text-align: right;
			input[type=submit]{
				color: #fff;
				background-color: $primary-color;
				border-radius: 0;
				padding: 15px 30px;
				display: inline-block;
				border:0px;
				cursor: pointer;
				&:hover{
					background-color: #666;
				}
			}
		}
		&::after{
			display: block;
			content: "";
			clear: both;
		}
		
	}
}